.menu {    
    border: 2px solid black;
    width: 220px;
    margin-top: 50px;
    padding: 20px 30px 300px 0;
    font-size: 20px;        
}

.menu li {
    list-style: none;
    display: flex;
    line-height: 40px;
}