
.schedule-element-header {
    border-bottom: 1px solid black;
    text-align: center;
}

.employee{
    max-width: 120px;
    margin-bottom: 10px;
    text-align: center;
    cursor: move;
    cursor: -webkit-grabbing;

    
}

.employee-item{
    margin-top: 10px;
    border: 1px solid  black;
    border-radius: 4px;
    padding: 5px;

}

.employee-name {
    background-color: #039CD8;
    color: white;
    margin-bottom: 5px;

}