/* .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid cornflowerblue 1px;
    padding: 40px 30px;
    margin: 20px;
    border-radius: 5px;
} */

.signupForm {
    margin-top: -50px;
}

/* Full-width input fields */

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #00B9F4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #4ACCF6;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  display: flex;
  justify-content: center;
  background: #039cd8;
}

/* Add padding to container elements */

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}