.cardNumber {
    padding: 10px;
}

.billing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;    
    padding: 50px;
}

.buybutton {
    white-space: nowrap;
    border: 0;
    outline: 0;
    display: inline-block;
    width: 100%;
    height: 80px;
    line-height: 40px;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    background-color: #6772e5;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    margin-top: 10px;  
}

.cardInput {
    padding: 15px;
    border: 1px solid black;
    margin-bottom: 15px;
}